*{
  margin: 0;
  padding: 0;

}
.content{
  background-color: aqua;
  margin: 20px;
  padding: 20px;
  width: ;
  text-align: center;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.123);
  
  
  border: 4px dotted red;

}
p{
  padding: 10px;
}
.head{
  background-color: brown;
 display: flex;
 align-items: center;
 justify-content: space-between;
 color: aliceblue;
 justify-content: space-around;
 height: 50px;
 
}
ul{
  text-decoration: none;
  display: flex;
  text-decoration: none;

}
li{

  margin-right: 15px;
}
.menu{
  text-align: right;
  text-decoration:none ;
  display: flex;
}



.mainh{
  text-align: center;

 padding: 50px;

}
.head:hover{
  background-color: rgb(95, 32, 8);
 

 
 color: aliceblue;
}
.content:hover{
  background-color: rgb(37, 154, 154);
  margin: 20px;
  padding: 20px;
  width: 310px;
  text-align: center;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.123);
  display: inline-block;
  transition: 0.5s;
  border: 4px dotted red;

}
.ftr{
  display: flex;
}